doctype html
meta(charset='utf-8')
title YouTube Auto Uploader
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='style/bootstrap.min.css')
.container-fluid.p-a
  form
    .form-group.row
      label.col-xs-3.form-control-label.text-right(for='watchPath') 録画ファイルのパス:
      .col-xs-9
        input.form-control#watchPath(type='text', placeholder='C:¥...', disabled)
    .form-group.row
      label.col-xs-3.form-control-label.text-right(for='channelName') チャンネル名:
      .col-xs-9
        input.form-control#channelName(type='text', placeholder='チャンネル名', required, disabled)
    .form-group.row
      label.col-xs-3.form-control-label.text-right(for='tags') タグ:
      .col-xs-9
        input.form-control#tags(type='text', placeholder='A, B, C, ...', disabled)
  .text-right.m-t-md
    button.btn.btn-primary-outline(type='button', onClick='window.close();') 閉じる
script.
  window.$ = window.jQuery = require("./script/jquery.min.js"); // Load jQuery.
script(src='script/bootstrap.min.js')
script(src='script/main.js')
